@font-face {
    font-family: Mulish;
    src: url(./Fonts/static/Mulish-Medium.ttf);
}

* {
    box-sizing: border-box;
    font-family: Mulish;
}
nav .collapse{
    display: flex  ;
    justify-content: end ;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav ul {
    gap: 20px;
}

nav ul li a {
    font-size: 14px !important;
    transition: .5s !important;
    border-bottom: 2px solid transparent !important;
    height: auto;
}

nav ul li a:hover {
    color: #1F1534 !important;
    border-bottom: 2px solid #1F1534 !important;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.text h1 {
    font-size: 40px;
    color: #3C567B;
}

.text p {
    color: #93C1F9;
    line-height: 27px;
    font-size: 19px;
    margin: 40px 0;
    /* width: 80%; */
}

.text button {
    padding: 15px;
    background-color: #458FF6;
    color: white;
    font-size: 19px;
    border: 1px solid transparent;
    border-radius: 30px;
    margin-top: 40px;
    margin-left: 20px;
}

.foto {
    display: flex;
    justify-content: center;
    align-items: end;
}

.foto img {
    width: 100%;
}

.services {
    margin: auto;
}

.title {
    color: #3C567B;

}

.paragraf {
    font-size: 19px;
}

.back {
    width: 100%;
    background: url(./img/Vector.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 50%;
    height: 100vh;
}

.card-group {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    height: auto;
}

.cards {
    width: 30%;
    border-radius: 10px;
    box-shadow: 6px 6px 15px #E8F4FE;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 300px;

}

.cards p {
    color: #7D7987;
    font-size: 16px;

}

.button {
    width: 150px;
    background-color: #fff;
    border-radius: 20px;
    border: 1.4px solid #458FF6;
    color: #458FF6;
    height: 40px;
}

.down {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
}


.photo img {
    width: 100%;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.texts h3 {
    color: #3C567B;
    font-size: 36px;
}

.texts p {
    font-size: 17px;
    color: #7D7987;
}

.photo1 img {
    width: 80%;
}

.cardd {
    background: linear-gradient(208.18deg, #6888C8 9.05%, #5A98F2 76.74%);
    border: 1px solid transparent !important;
    color: white !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    padding: 40px;

}

.card-block {
    margin-top: 50px;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user p {
    font-size: 22px;
}

.txt {
    width: 50%;
    line-height: 40px;
    font-size: 22px;
}

.footer {
    background: linear-gradient(183.41deg, #6888C8 -8.57%, #5A98F2 82.96%);
    color: #fff;
    margin-top: 100px;
    padding: 70px;
}

.footer .col-md-3 a {
    text-decoration: none;
    color: white;
}

.footer .col-md-2 a {
    text-decoration: none;
    color: white;
}

.footer .col-md-3 p {
    width: 40%;
    font-size: 18px !important;

}

.logos {
    display: flex;
    justify-content: start;
    align-items: start;
}